<script setup lang="ts">
import QHeader from '@/components/QHeader.vue'
import QFooter from '@/components/QFooter.vue'
import QCard from '@/components/QCard.vue'
</script>

<template>
  <main>
    <q-layout view="lHh Lpr lFf">
      <q-page-container>
        <QHeader />
      </q-page-container>
      <span v-for="i in 5" v-bind:key="i">
        <div class="q-pa-md row items-start q-gutter-md">
          <QCard />
        </div>
      </span>
      <QFooter />
    </q-layout>
  </main>
</template>
