<template>
  <q-card class="my-card">
    <q-img src="https://cdn.quasar.dev/img/parallax2.jpg">
      <div class="text-subtitle2 absolute-top text-center">Title</div>
    </q-img>
  </q-card>
</template>

<style scoped>
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>
