<template>
  <q-footer class="bg-green-7" elevated>
    <q-toolbar>
      <q-toolbar-title>
        <div
          class="row justify-center full-height full-width text-center text-subtitle1"
        >
          <div>
            Powered by <a class="link" href="rvladimir.com">rvladimir.com</a>
          </div>
        </div>
        <div
          class="row justify-center full-height full-width text-center text-subtitle2"
        >
          <div>&copy; {{ new Date().getFullYear() }}</div>
        </div>
      </q-toolbar-title>
    </q-toolbar>
  </q-footer>
</template>

<style>
.link {
  color: aliceblue;
  text-decoration: none;
}
</style>
