<script setup lang="ts">
import Search from '@/components/Search.vue'
</script>

<template>
  <div class="q-pa-md">
    <q-header elevated>
      <q-toolbar class="bg-green-7">
        <q-avatar>
          <img src="@/assets/rick-and-morty-portal.png" />
        </q-avatar>

        <q-toolbar-title>Rick and Morty</q-toolbar-title>
      </q-toolbar>

      <Search class="bg-green-7" />
    </q-header>
  </div>
</template>
