<script setup lang="ts">
import { ref } from 'vue'

let search = ref('')

function userSearch() {
  console.log('here!!!')
}
</script>

<template>
  <div class="q-pa-md doc-container">
    <div class="items-center">
      <q-input
        v-model="search"
        dense
        filled
        label="Search"
        type="search"
        color="white"
        v-on:keyup.enter="userSearch()"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </div>
  </div>
</template>
